@font-face {
  font-family: 'digit';
  font-style: normal;
  font-weight: 400;
  src: local('digital'), url('./assets/fonts/digital-7.mono.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: rgb(236, 236, 236);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid rgb(236, 236, 236);
}

.calculator {
  width: 300px;
  height: auto;
  border: 5px solid rgb(236, 236, 236);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 64px #00000033;
  background-color: rgb(236, 236, 236);
}

.display {
  margin: 16px;
  padding: 16px;
  position: relative;
  z-index: 10;
  outline: 1px solid rgb(218, 218, 218);
  border-radius: 8px;
  text-align: right;
  font-family: 'digit';
  font-size: 44px;
  font-weight: 300;
  
}

.display span {
  font-size: 20px;
  word-wrap:break-word;
  color: rgb(236, 236, 236);
}

.outher-edge {
  height: 20px;
  background: rgb(236, 236, 236)
}
